body {
    background-color: #eef5ff;
    font-family: system-ui, sans-serif;
}

/* Form + table containers */
.form-container,
.table-container {
    background-color: #eef5ff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Inputs */
input, select {
    background-color: #ffffff !important;
}

/* Table */
table {
    background-color: #ffffff;
}
